<h1> Admin Dashboard </h1>
<!-- <%= render "layouts/forms/new_prep_form", locals: { preparation: @preparation }%> -->
<%= render "layouts/forms/new_prep_form"%>
<table>
  <tr>
    <th> Prep Type </th>
    <th> Instructions </th>
    <th> Keyword </th>
    <th> Base Cost </th>
  </tr>
  <% @preparations.each do |p|  %>
    <tr>
      <td><%= p.prep_type %></td>
      <td><%= p.instructions %></td>
      <td><%= p.keyword %></td>
      <td><%= p.base_cost_in_cents / 100 %></td>
    </tr>
  <% end %>
</table>
