<h2 class="title"> Dependents </h2>
<p class="description description-form">
  Add a record for each member of your household for whom you will be
  responsible during an emergency (including spouse/partner). Pets are
  also considered dependents and can be added with the 'Add Pet' button.
</p>
<%  if current_user.has_dependents?  %>
  <ul>
    <% current_user.dependents.each do |d| %>
      <%= form_for d, url: update_dependent_path(d) do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :human, 'Human' %>
          <%= f.radio_button :human, true %>
          <%= f.label :human, 'Pet' %>
          <%= f.radio_button :human, false %>
        </div>
        <%= f.submit %>
      <% end %>
    <% end %>
  </ul>
<% end %>
<h3 class="title"> Add a Dependent </h3>
<form action="/new_dependent" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <div class="form-field">
    <label for="name">Name</label>
    <input type="text" class="text_field" name="name" id="name">
  </div>
  <div class="form-field" id="dep-type">
    <label for="human">Human or Pet?</label>
    <label>
      <input type="radio" class="radio" name="human" id="human" value="true">
      Human
    </label>
    <label>
      <input type="radio" class="radio" name="human" id="human" value="false">
      Pet
    </label>
  </div>
  <input type="submit" value="Save Dependent">
</form>
