<h2> Add a Preparation </h2>
<%= form_for @preparation, url: admin_new_prep_path(@preparation) do |p| %>
  <div class="form-group">
    <%= p.label :prep_type, "Prep Type" %>
    <%= p.text_field :prep_type %>
  </div>
  <div class="form-group">
    <%= p.label :instructions, "Instructions" %>
    <%= p.text_field :instructions %>
  </div>
  <div class="form-group">
    <%= p.label :keyword, "Keyword" %>
    <%= p.text_field :keyword %>
  </div>
  <div class="form-group">
    <%= p.label :base_cost_in_cents, "Base Cost" %>
    <%= p.text_field :base_cost_in_cents %>
  </div>
  <%= p.submit %>
<% end %>
