<header class="navigation">
  <a href="/">
    <div class="logo">
       RC
    </div>
  </a>
  <% if logged_in? %>
    <ul>
      <li> Hello, <%= current_user.username %></li>
      <% if current_user.admin %>
        <li> <%= link_to "Admin Dashboard", admin_preparations_path %> </li>
      <% else %>
        <li> <%= link_to "Profile", user_path(current_user.id) %></li>
        <li> <%= link_to "Prepare", preparations_overview_path(current_user.id) %></li>
      <% end %>
      <li>
        <a href="/sign-out"> Sign Out </a>
      </li>
    </ul>
  <% else %>
    <div class="nav-form-wrapper">
      <%= form_tag sign_in_path do %>
        <input type="email", name="email", placeholder="email">
        <input type="password", name="password", placeholder="password">
        <input type="submit", value="Sign In">
      <% end %>
    </div>
    <a href="./sign-up">
      <div class="link">
        Sign Up
      </div>
    </a>
  <% end %>
</header>
