<header id="navigation">
  <div class="nav-content-wrapper">
    <a href="/">
      <div class="logo">
         RC
      </div>
    </a>
    <% if logged_in? %>
      <ul class="nav-right">
        <li class='nav-right-child'> Hello, <%= current_user.username %></li>
        <% if current_user.admin %>
          <li class='nav-right-child'> <%= link_to "Admin Dashboard", admin_preparations_path %> </li>
        <% else %>
          <li class='nav-right-child'> <%= link_to "Profile", user_path(current_user.id) %></li>
          <li class='nav-right-child'> <%= link_to "Prepare", preparations_overview_path(current_user.id) %></li>
        <% end %>
        <li class='nav-right-child'>
          <a href="/sign-out"> Sign Out </a>
        </li>
      </ul>
    <% else %>
      <div class="nav-right">
        <%= form_tag sign_in_path, class: 'nav-right-child' do %>
          <input type="email", name="email", placeholder="email">
          <input type="password", name="password", placeholder="password">
          <input type="submit", value="Sign In">
        <% end %>
        <a href="./sign-up" class="nav-right-child">
          Sign Up
        </a>
      </div>
    <% end %>
  </div>
</header>
