<!DOCTYPE html>
<html>
  <head>
    <title>ReadyCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env == 'development' %>
      <script src='http://localhost:3808/webpack-dev-server.js'></script>
    <% end %>
  </head>

  <body class="<%= @page_name == 'home' ? 'home' : nil %>" data-env="<%= Rails.env %>">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <div id='main-content'>
      <%= yield %>
    </div>
  </body>
</html>
